@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --e-global-color-primary: #0564ff;
  --e-global-color-secondary: #484848;
  --e-global-color-text: #0d0d0c;
  --e-global-color-accent: #f7b944;
  --e-global-color-cab9338: #ffffff;
  --e-global-color-9b74273: #e03d5c;
  --e-global-color-951a74d: #00b568;
  --e-global-color-3a05ba6: #5a05ff;
  --e-global-typography-primary-font-family: "Montserrat";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Montserrat";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Montserrat";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Montserrat";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-9796902-font-family: "Montserrat";
  --e-global-typography-9796902-font-size: 72px;
  --e-global-typography-9796902-font-weight: 600;
  --e-global-typography-1ef8208-font-family: "Montserrat";
  --e-global-typography-1ef8208-font-size: 48px;
  --e-global-typography-1ef8208-font-weight: 500;
  --e-global-typography-4a2429e-font-family: "Montserrat";
  --e-global-typography-4a2429e-font-size: 44px;
  --e-global-typography-4a2429e-font-weight: 500;
  --e-global-typography-d557a35-font-family: "Montserrat";
  --e-global-typography-d557a35-font-size: 14px;
  --e-global-typography-d557a35-font-weight: 700;
  --e-global-typography-d557a35-line-height: 1.5rem;
  --e-global-typography-f81d4b8-font-family: "Montserrat";
  --e-global-typography-f81d4b8-font-size: 16px;
  --e-global-typography-f81d4b8-font-weight: 400;
  --e-global-typography-f81d4b8-font-style: normal;
  --e-global-typography-f81d4b8-text-decoration: none;
  --e-global-typography-f81d4b8-line-height: 1.7em;
  --e-global-typography-f81d4b8-word-spacing: 0px;
  --e-global-typography-e55c8b4-font-family: "Montserrat";
  --e-global-typography-e55c8b4-font-size: 12px;
  --e-global-typography-e55c8b4-font-weight: 400;
  --e-global-typography-e55c8b4-line-height: 1.5rem;
  --e-global-typography-c166794-font-family: "Montserrat";
  --e-global-typography-c166794-font-size: 14px;
  --e-global-typography-c166794-font-weight: 400;
  --e-global-typography-c166794-line-height: 1.7rem;
  --e-global-typography-a8bbe8c-font-family: "Montserrat";
  --e-global-typography-a8bbe8c-font-size: 18px;
  --e-global-typography-a8bbe8c-font-weight: 700;
  --e-global-typography-a8bbe8c-line-height: 1.7rem;
  --e-global-typography-ac0ef1d-font-family: "Montserrat";
  --e-global-typography-ac0ef1d-font-weight: 400;
  --e-global-typography-ac0ef1d-line-height: 1.7rem;
  --e-global-typography-6de2bf4-font-family: "Montserrat";
  --e-global-typography-6de2bf4-font-size: 20px;
  --e-global-typography-6de2bf4-font-weight: 500;
  --e-global-typography-6de2bf4-line-height: 1.7rem;
  --e-global-typography-90e6315-font-family: "Montserrat";
  --e-global-typography-90e6315-font-size: 20px;
  --e-global-typography-90e6315-font-weight: 400;
  --e-global-typography-90e6315-line-height: 1.7rem;
  --e-global-typography-283ff5e-font-family: "Montserrat";
  --e-global-typography-283ff5e-font-size: 24px;
  --e-global-typography-283ff5e-font-weight: 500;
  --e-global-typography-283ff5e-line-height: 1.5rem;
  --e-global-typography-af45001-font-family: "Montserrat";
  --e-global-typography-af45001-font-size: 16px;
  --e-global-typography-af45001-font-weight: 500;
  --e-global-typography-af45001-line-height: 1.7rem;
  --e-global-typography-fe57479-font-family: "Montserrat";
  --e-global-typography-fe57479-font-size: 32px;
  --e-global-typography-fe57479-font-weight: 600;
  --e-global-typography-fe57479-line-height: 1.5rem;
  --e-global-typography-b7e45c4-font-family: "Montserrat";
  --e-global-typography-b7e45c4-font-size: 18px;
  --e-global-typography-b7e45c4-font-weight: 500;
  --e-global-typography-b7e45c4-line-height: 1.7rem;
  --e-global-typography-2f6cfc7-font-family: "Montserrat";
  --e-global-typography-2f6cfc7-font-size: 64px;
  --e-global-typography-2f6cfc7-font-weight: 700;
  --e-global-typography-3ae4dcd-font-family: "Montserrat";
  --e-global-typography-3ae4dcd-font-size: 20px;
  --e-global-typography-3ae4dcd-font-weight: 400;
  --e-global-typography-3ae4dcd-line-height: 1.7rem;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gsk_container {
  max-width: 1600px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  gap: 30px;
}
.gsk_route {
  font-size: var(--e-global-typography-c166794-font-size);
  line-height: var(--e-global-typography-c166794-line-height);
  display: flex;
  gap: 10px;
}
.gsk_heading {
  font-size: var(--e-global-typography-1ef8208-font-size);
  font-weight: var(--e-global-typography-6de2bf4-font-weight);
  color: var(--e-global-color-text);
  margin-top: 0;
  margin-bottom: 20px;
}
.gsk_map_button {
  text-decoration: none;
  display: inline-block;
  background-color: var(--e-global-color-accent);
  font-size: 17px;
  font-weight: var(--e-global-typography-fe57479-font-weight);
  color: var(--e-global-color-cab9338);
  border-radius: 8px 8px 8px 8px;
  padding: 14px 24px 14px 24px;
}
.gsk_properties {
  color: var(--e-global-color-text);
  font-weight: var(--e-global-typography-f81d4b8-font-weight);
  font-style: var(--e-global-typography-f81d4b8-font-style);
  text-decoration: var(--e-global-typography-f81d4b8-text-decoration);
  font-size: var(--e-global-typography-f81d4b8-font-size);
  line-height: var(--e-global-typography-f81d4b8-line-height);
  word-spacing: var(--e-global-typography-f81d4b8-word-spacing);
}
.gsk_button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.sgk_properties_card {
  display: flex;
  max-width: 1170px;
  margin: auto;
  border-radius: 22px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.sgk_properties_card:hover {
  transform: translateY(-10px);
}
.gsk_card_content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top: 1px solid #b9bbbc;
  border-bottom: 1px solid #b9bbbc;
  border-right: 1px solid #b9bbbc;
  width: 100%;
  border-radius: 0px 22px 22px 0px;
}
.gsk_property_card_heading {
  color: var(--e-global-color-text);
  font-weight: var(--e-global-typography-c166794-font-weight);
  font-size: var(--e-global-typography-c166794-font-size);
  line-height: var(--e-global-typography-c166794-line-height);
  margin: 0;
}
.gsk_property_card_image {
  position: relative;
  max-width: 40%;
  width: 100%;
}
.gsk_property_card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gsk_amount {
  font-size: var(--e-global-typography-fe57479-font-size);
  line-height: var(--e-global-typography-fe57479-line-height);
  font-weight: var(--e-global-typography-fe57479-font-weight);
  color: var(--e-global-color-text);
  margin-bottom: 0;
  margin-top: 5px;
}
.gsk_amount span {
  font-size: 14px;
  vertical-align: middle;
  font-weight: 400;
}
.gsk_property_card_name {
  font-size: var(--e-global-typography-af45001-font-size);
  line-height: var(--e-global-typography-af45001-line-height);
  color: var(--e-global-color-text);
  font-weight: var(--e-global-typography-af45001-font-weight);
  margin: 0;
}
.gsk_property_location {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  color: #6e7070;
}
.gsk_property_desc {
  font-size: var(--e-global-typography-f81d4b8-font-size);
  line-height: var(--e-global-typography-f81d4b8-line-height);
  word-spacing: var(--e-global-typography-f81d4b8-word-spacing);
  color: var(--e-global-color-text);
  font-weight: var(--e-global-typography-f81d4b8-font-weight);
  font-style: var(--e-global-typography-f81d4b8-font-style);
  text-decoration: var(--e-global-typography-f81d4b8-text-decoration);
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gsk_profile_and_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gsk_profile_container {
  display: flex;
  gap: 15px;
  align-items: center;
}
.gsk_profile_container img {
  height: 56px;
  width: 56px;
  border-radius: 100%;
  object-fit: cover;
}
.gsk_profile_name {
  font-size: var(--e-global-typography-af45001-font-size);
  line-height: var(--e-global-typography-af45001-line-height);
  color: var(--e-global-color-text);
  font-weight: var(--e-global-typography-af45001-font-weight);
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0;
}
.gsk_profile_post {
  font-size: var(--e-global-typography-e55c8b4-font-size);
  line-height: var(--e-global-typography-e55c8b4-line-height);
  color: var(--e-global-color-secondary);
  font-weight: var(--e-global-typography-e55c8b4-font-weight);
  margin-bottom: 0;
  margin-top: 0px;
}
.gsk_view_details_btn {
  background-color: var(--e-global-color-951a74d);
  font-family: "Inter", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2rem;
  padding: 12px 14px 12px 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--e-global-color-cab9338);
  border-radius: 8px 8px 8px 8px;
}
.gsk_profile_btn {
  background-color: var(--e-global-color-cab9338);
  font-family: "Inter", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2rem;
  fill: #002a52;
  color: #002a52;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #002a52;
  padding: 12px 14px 12px 14px;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
.gsk_btn_container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.gsk_absolute_text {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}
.gsk_absolute_text p {
  padding: 4px 8px !important;
  display: block !important;
  border-radius: 4px;
  background: var(--e-global-color-3a05ba6);
  color: var(--e-global-color-cab9338);
  font-weight: 600;
  margin: 0;
}
#gsk_property_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* CUSTOM SELECT ==========================================================*/
.gsk-form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gsk-form-group {
  position: relative;
  width: 100%;
}

.gsk-label {
  font-family: var(--e-global-typography-b7e45c4-font-family), Sans-serif;
  font-size: var(--e-global-typography-b7e45c4-font-size);
  font-weight: var(--e-global-typography-b7e45c4-font-weight);
  line-height: var(--e-global-typography-b7e45c4-line-height);
  color: var(--e-global-color-text);
  padding: 0px 0px 8px 0px;
  display: inline-block;
}

.gsk-custom-select {
  position: relative;
}

.gsk-select-box {
  font-family: var(--e-global-typography-f81d4b8-font-family), Sans-serif;
  font-size: var(--e-global-typography-f81d4b8-font-size);
  font-weight: var(--e-global-typography-f81d4b8-font-weight);
  font-style: var(--e-global-typography-f81d4b8-font-style);
  text-decoration: var(--e-global-typography-f81d4b8-text-decoration);
  line-height: var(--e-global-typography-f81d4b8-line-height);
  word-spacing: var(--e-global-typography-f81d4b8-word-spacing);
  color: var(--e-global-color-text);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ced4da;
  border-radius: 6px 6px 6px 6px;
  -webkit-appearance: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.gsk-select-box span {
  font-size: 16px;
  color: #333;
}

.gsk-arrow {
  font-size: 14px;
  transition: transform 0.2s ease-in-out;
}

.gsk-options-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-top: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 10;
  overflow: hidden;
}

.gsk-option {
  padding: 7px 15px;
  cursor: pointer;
}

.gsk-option:hover {
  background-color: var(--e-global-color-3a05ba6);
  color: white;
}

.gsk-show {
  display: block;
}

.gsk-rotate {
  transform: rotate(180deg);
}
/* MEDIA ==========================================================*/
@media (max-width: 1230px) {
  .sgk_properties_card {
    flex-direction: column;
    max-width: 365px;
  }
  .gsk_property_card_image {
    max-width: 100%;
    height: 350px;
  }
  .gsk_card_content {
    width: auto;
    border-top: 0px solid #b9bbbc;
    border-bottom: 1px solid #b9bbbc;
    border-right: 1px solid #b9bbbc;
    border-left: 1px solid #b9bbbc;
    border-radius: 0px 0 22px 22px;
  }
  .gsk_profile_and_buttons {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  #gsk_property_list {
    flex-direction: row;
    gap: 20px;
  }
}
@media (max-width: 1100px) {
  .sgk_properties_card {
    flex-direction: column;
    max-width: 100%;
  }

  #gsk_property_list {
    flex-wrap: wrap;
  }
  .gsk_heading {
    font-size: 30px;
  }
}
