@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --e-global-color-primary: #0564ff;
  --e-global-color-secondary: #484848;
  --e-global-color-text: #0d0d0c;
  --e-global-color-accent: #f7b944;
  --e-global-color-cab9338: #ffffff;
  --e-global-color-9b74273: #e03d5c;
  --e-global-color-951a74d: #00b568;
  --e-global-color-3a05ba6: #5a05ff;
  --e-global-typography-primary-font-family: "Montserrat";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Montserrat";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Montserrat";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Montserrat";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-9796902-font-family: "Montserrat";
  --e-global-typography-9796902-font-size: 72px;
  --e-global-typography-9796902-font-weight: 600;
  --e-global-typography-1ef8208-font-family: "Montserrat";
  --e-global-typography-1ef8208-font-size: 48px;
  --e-global-typography-1ef8208-font-weight: 500;
  --e-global-typography-4a2429e-font-family: "Montserrat";
  --e-global-typography-4a2429e-font-size: 44px;
  --e-global-typography-4a2429e-font-weight: 500;
  --e-global-typography-d557a35-font-family: "Montserrat";
  --e-global-typography-d557a35-font-size: 14px;
  --e-global-typography-d557a35-font-weight: 700;
  --e-global-typography-d557a35-line-height: 1.5rem;
  --e-global-typography-f81d4b8-font-family: "Montserrat";
  --e-global-typography-f81d4b8-font-size: 16px;
  --e-global-typography-f81d4b8-font-weight: 400;
  --e-global-typography-f81d4b8-font-style: normal;
  --e-global-typography-f81d4b8-text-decoration: none;
  --e-global-typography-f81d4b8-line-height: 1.7em;
  --e-global-typography-f81d4b8-word-spacing: 0px;
  --e-global-typography-e55c8b4-font-family: "Montserrat";
  --e-global-typography-e55c8b4-font-size: 12px;
  --e-global-typography-e55c8b4-font-weight: 400;
  --e-global-typography-e55c8b4-line-height: 1.5rem;
  --e-global-typography-c166794-font-family: "Montserrat";
  --e-global-typography-c166794-font-size: 14px;
  --e-global-typography-c166794-font-weight: 400;
  --e-global-typography-c166794-line-height: 1.7rem;
  --e-global-typography-a8bbe8c-font-family: "Montserrat";
  --e-global-typography-a8bbe8c-font-size: 18px;
  --e-global-typography-a8bbe8c-font-weight: 700;
  --e-global-typography-a8bbe8c-line-height: 1.7rem;
  --e-global-typography-ac0ef1d-font-family: "Montserrat";
  --e-global-typography-ac0ef1d-font-weight: 400;
  --e-global-typography-ac0ef1d-line-height: 1.7rem;
  --e-global-typography-6de2bf4-font-family: "Montserrat";
  --e-global-typography-6de2bf4-font-size: 20px;
  --e-global-typography-6de2bf4-font-weight: 500;
  --e-global-typography-6de2bf4-line-height: 1.7rem;
  --e-global-typography-90e6315-font-family: "Montserrat";
  --e-global-typography-90e6315-font-size: 20px;
  --e-global-typography-90e6315-font-weight: 400;
  --e-global-typography-90e6315-line-height: 1.7rem;
  --e-global-typography-283ff5e-font-family: "Montserrat";
  --e-global-typography-283ff5e-font-size: 24px;
  --e-global-typography-283ff5e-font-weight: 500;
  --e-global-typography-283ff5e-line-height: 1.5rem;
  --e-global-typography-af45001-font-family: "Montserrat";
  --e-global-typography-af45001-font-size: 16px;
  --e-global-typography-af45001-font-weight: 500;
  --e-global-typography-af45001-line-height: 1.7rem;
  --e-global-typography-fe57479-font-family: "Montserrat";
  --e-global-typography-fe57479-font-size: 32px;
  --e-global-typography-fe57479-font-weight: 600;
  --e-global-typography-fe57479-line-height: 1.5rem;
  --e-global-typography-b7e45c4-font-family: "Montserrat";
  --e-global-typography-b7e45c4-font-size: 18px;
  --e-global-typography-b7e45c4-font-weight: 500;
  --e-global-typography-b7e45c4-line-height: 1.7rem;
  --e-global-typography-2f6cfc7-font-family: "Montserrat";
  --e-global-typography-2f6cfc7-font-size: 64px;
  --e-global-typography-2f6cfc7-font-weight: 700;
  --e-global-typography-3ae4dcd-font-family: "Montserrat";
  --e-global-typography-3ae4dcd-font-size: 20px;
  --e-global-typography-3ae4dcd-font-weight: 400;
  --e-global-typography-3ae4dcd-line-height: 1.7rem;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gsk_container {
  max-width: 1600px;
  margin: auto;
}
.gsk_route {
  font-size: var(--e-global-typography-c166794-font-size);
  line-height: var(--e-global-typography-c166794-line-height);
  display: flex;
  gap: 10px;
}
.gsk_heading {
  font-size: var(--e-global-typography-1ef8208-font-size);
  font-weight: var(--e-global-typography-6de2bf4-font-weight);
  color: var(--e-global-color-text);
  margin-top: 0;
  margin-bottom: 20px;
}
.gsk_map_button {
  text-decoration: none;
  display: inline-block;
  background-color: var(--e-global-color-accent);
  font-size: 17px;
  font-weight: var(--e-global-typography-fe57479-font-weight);
  color: var(--e-global-color-cab9338);
  border-radius: 8px 8px 8px 8px;
  padding: 14px 24px 14px 24px;
}
.gsk_properties {
  color: var(--e-global-color-text);
  font-weight: var(--e-global-typography-f81d4b8-font-weight);
  font-style: var(--e-global-typography-f81d4b8-font-style);
  text-decoration: var(--e-global-typography-f81d4b8-text-decoration);
  font-size: var(--e-global-typography-f81d4b8-font-size);
  line-height: var(--e-global-typography-f81d4b8-line-height);
  word-spacing: var(--e-global-typography-f81d4b8-word-spacing);
}
.gsk_button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.sgk_properties_card {
  display: flex;
  max-width: 1170px;
  margin: auto;
  border-radius: 22px;
  overflow: hidden;
}
.gsk_card_content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top: 1px solid #b9bbbc;
  border-bottom: 1px solid #b9bbbc;
  border-right: 1px solid #b9bbbc;
  width: 100%;
  border-radius: 0px 22px 22px 0px;
}
.gsk_property_card_heading {
  color: var(--e-global-color-text);
  font-weight: var(--e-global-typography-c166794-font-weight);
  font-size: var(--e-global-typography-c166794-font-size);
  line-height: var(--e-global-typography-c166794-line-height);
  margin: 0;
}
.gsk_property_card_image {
  position: relative;
  max-width: 470px;
  width: 100%;
}
.gsk_property_card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gsk_amount {
  font-size: var(--e-global-typography-fe57479-font-size);
  line-height: var(--e-global-typography-fe57479-line-height);
  font-weight: var(--e-global-typography-fe57479-font-weight);
  color: var(--e-global-color-text);
  margin-bottom: 0;
  margin-top: 5px;
}
.gsk_amount span {
  font-size: 14px;
  vertical-align: middle;
  font-weight: 400;
}
.gsk_property_card_name {
  font-size: var(--e-global-typography-af45001-font-size);
  line-height: var(--e-global-typography-af45001-line-height);
  color: var(--e-global-color-text);
  font-weight: var(--e-global-typography-af45001-font-weight);
  margin: 0;
}
.gsk_property_location {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  color: #6e7070;
}
.gsk_property_desc {
  font-size: var(--e-global-typography-f81d4b8-font-size);
  line-height: var(--e-global-typography-f81d4b8-line-height);
  word-spacing: var(--e-global-typography-f81d4b8-word-spacing);
  color: var(--e-global-color-text);
  font-weight: var(--e-global-typography-f81d4b8-font-weight);
  font-style: var(--e-global-typography-f81d4b8-font-style);
  text-decoration: var(--e-global-typography-f81d4b8-text-decoration);
  margin: 0;
}
